<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" href="/css/planPage.css">
</head>

<body>
    <form action="/register/plan " method="post">
        <div>
            <input id="name" name="name" value="individual" name="name" readonly="readonly">
            <input id="price" name="price" value="10.99" name="price" readonly="readonly">
            <label for="vehicle1"> Individual</label>
            <input type="submit" value="Submit"><br>
        </div>
    </form>
    <form action="/register/plan " method="post">
        <div>
            <input id="name" name="name" value="Academic" name="name" readonly="readonly">
            <input id="price" name="price" value="11.99" name="price" readonly="readonly">
            <label for="vehicle1"> Academic</label>
            <input type="submit" value="Submit"><br>
        </div>
    </form>
    <form action="/register/plan " method="post">
        <div>
            <input id="name" name="name" value="corporate" name="name" readonly="readonly">
            <input id="price" name="price" value="9.99" name="price" readonly="readonly">
            <label for="vehicle1"> Corporate</label>
            <input type="submit" value="Submit"><br>
        </div>
    </form>

</body>

</html>